<h1>Editing Atendimento Detalhe</h1>

<%= render 'form', atendimento_detalhe: @atendimento_detalhe %>

<%= link_to 'Show', @atendimento_detalhe %> |
<%= link_to 'Back', @atendimento_detalhe.atendimento %>
