<h1>Editing Conexao Verificar Atributo</h1>

<%= render 'form', conexao_verificar_atributo: @conexao_verificar_atributo %>

<%= link_to 'Show', @conexao_verificar_atributo %> |
<%= link_to 'Back', conexao_verificar_atributos_path %>
