<div class="card">
  <%= render 'shared/edit_header', {object: @plano_verificar_atributo, titulo: "Radius Verificar"} %>
  <div class="card-body">
    <%= render 'form', plano_verificar_atributo: @plano_verificar_atributo %>
  </div>
</div>
