<div class="card">
<%= render 'shared/show_header', {object: @plano_verificar_atributo, titulo: "Radius Verificar"} %>
<div class="card-body">
  <div class="card-columns" style="column-count: 4">
    <div class="card border-dark">
      <div class="card-header">Verificar</div>
      <div class="card-text" align="right"><br><%= @plano_verificar_atributo.atributo %>&nbsp</div>
    </div>
  </div>
</div>
