<div class="card">
  <%= render 'shared/edit_header', {object: @classificacao, titulo: "Classificação"} %>
  <div class="card-body">
    <%= render 'form', classificacao: @classificacao %>
  </div>
</div>
