<h1>Editing Plano Enviar Atributo</h1>

<%= render 'form', plano_enviar_atributo: @plano_enviar_atributo %>

<%= link_to 'Show', @plano_enviar_atributo %> |
<%= link_to 'Back', plano_enviar_atributos_path %>
