#radius.tab-pane.fade[role="tabpanel" aria-labelledby="radius-tab"]
  .card.border-0.shadow-sm
    .card-body
      = render 'conexao_verificar_atributos/table'
      = render 'conexao_enviar_atributos/table'