<h1>Editing Conexao Enviar Atributo</h1>

<%= render 'form', conexao_enviar_atributo: @conexao_enviar_atributo %>

<%= link_to 'Show', @conexao_enviar_atributo %> |
<%= link_to 'Back', conexao_enviar_atributos_path %>
